md-sidenav .md-sidenav-inner .browse .station {
  transition: 0.2s ease-out;
}

#map {
  height: 72%;
  width: 100vw;
}

#player {
  bottom: 0;
  border: 0;
  height: 20vh;
  position: fixed;
  width: 100vw;
}

.play {
  bottom: 0;
  display: none;
  font-size: 26px;
  height: 20vh;
  left: 50%;
  margin: 0;
  position: fixed;
  transform: translateX(-50%);
  width: 106vw;
}

.play .material-icons {
  font-size: 30px;
  margin: 4px 8px 0 0;
  vertical-align: top;
}

md-content {
  box-sizing: border-box;
  padding: 1% 2% 2% 2%;
}

.md-fab {
  bottom: 25vh;
  position: fixed;
  right: 5vw;
  z-index: 2;
}

.md-toolbar-tools .profile-photo {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

md-sidenav {
  max-width: 90vw;
  width: 90vw;
}

md-sidenav .md-sidenav-inner {
  height: 90%;
  position: relative;
  width: 100%;
}

md-sidenav .md-sidenav-inner .browse,
md-sidenav .md-sidenav-inner .create {
  height: 90vh;
  width: 100%;
}

md-sidenav .md-sidenav-inner .browse .station {
  background: #eee;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  margin-left: 0;
  padding: 10px 0;
  text-align: center;
  transition-property: background, color;
  width: 100%;
}

md-sidenav .md-sidenav-inner .browse .station.playing {
  background: #3F51B5;
  color: #fff;
}

md-sidenav .md-sidenav-inner .bottom-button {
  bottom: 30px;
  left: 50%;
  padding: 0 12px;
  position: absolute;
  transform: translateX(-50%);
}
