$colorPrimary: #3F51B5;

#map {
	height: 72%;
	width: 100vw;
}

#player {
	bottom: 0;
	border: 0;
	height: 20vh;
	position: fixed;
	width: 100vw;
}

md-content {
  box-sizing: border-box;
	padding: 1% 2% 2% 2%;
}

.md-fab {
	bottom: 25vh;
	position: fixed;
	right: 5vw;
	z-index: 2;
}

.md-toolbar-tools {
	.profile-photo {
		border-radius: 50%;
		height: 45px;
		width: 45px;
	}
}

md-sidenav {
	max-width: 90vw;
	width: 90vw;

	.md-sidenav-inner {
		height: 90%;
		position: relative;
		width: 100%;

		.browse,
		.create {
			height: 90vh;
			width: 100%;
		}

		.browse {
			.station {
				background: #eee;
				box-sizing: border-box;
				cursor: pointer;
				display: block;
				margin-left: 0;
				padding: 10px 0;
				text-align: center;
				transition: .2s ease-out;
				transition-property: background, color;
				width: 100%;

				&.playing {
					background: $colorPrimary;
					color: #fff;
				}
			}
		}

		.bottom-button {
			bottom: 30px;
			left: 50%;
			padding: 0 12px;
			position: absolute;
			transform: translateX(-50%);
		}
	}
}